@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  -webkit-tap-highlight-color: transparent;
}

.speaker {
  background-image: url('/public/images/home/desktop/pattern-circles.svg');
  background-position: -250px -150px;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.zx7 {
  background-image: url('/public/images/home/desktop/image-speaker-zx7.jpg');
  background-position: center;
   background-size: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 1060px) {
  .zx7 {
    background-image: url('/public/images/home/tablet/image-speaker-zx7.jpg');
    background-position: right;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .speaker {
  background-image: url('/public/images/home/desktop/pattern-circles.svg');
  background-position: -0px -175px;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
}

@media (max-width: 675px) {
  .zx7 {
    background-image: url('/public/images/home/mobile/image-speaker-zx7.jpg');
    background-position: right;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .speaker {
  background-image: url('/public/images/home/desktop/pattern-circles.svg');
  background-position: -100px -110px;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
  
}



.scroll-container::-webkit-scrollbar {
  width: 6px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 3px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
  background-color: #555;
}

.default-container{
  width: full;
  aspect-ratio: 1/1;
  background-color: #f1f1f1;
}

.ss-container{
  width: full;
  aspect-ratio: 1/0.5108709016;
  background-color: #f1f1f1;
}

.info-container{
  width: full;
  aspect-ratio: 290/495.36;
  background-color: #f1f1f1;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .animate-fade-in {
    animation: fade-in 1s ease-out;
  }
  .animate-fade-out {
    animation: fade-out 1s ease-out;
  }



